---
layout: splash
author_profile: true
read_time: true
comments: true
share: true
related: true
header:
    image: img-hero-lingo-visual-asset-manager.png
    overlay_image: unsplash-image-1.jpg
    overlay_filter: rgba(255, 0, 0, 0.33)
    caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
    cta_label: "More Info"
    cta_url: "https://unsplash.com"
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html type="grid" %}
{% endfor %}

{% include paginator.html %}
