---
layout: splash
author_profile: true
read_time: true
comments: true
share: true
related: true
excerpt: "A corporation prvides software services. <br/>We believe in a Harmonious style to enhance everyone\'s life"
header:
    image: https://ooo.0o0.ooo/2016/07/22/5791e30a421a5.jpg
    overlay_image: https://ooo.0o0.ooo/2016/07/22/5791e30a421a5.jpg
    overlay_filter: rgba(0, 0, 0, 0.1)
    caption: "Photo credit: [**Van**](https://reformation.tech)"
    cta_label: "More"
    cta_url: "/news-archive/"
feature_row:
  - image_path: https://ooo.0o0.ooo/2016/07/25/5795e003da0da.jpg
    alt: "Top Quality"
    title: "Top Quality"
    excerpt: "Everything from the menus, sidebars, comments, and more can be configured or set with YAML Front Matter."
    url: "/"
    btn_label: "Learn More"
  - image_path: https://ooo.0o0.ooo/2016/07/25/5795e001a0f7c.jpg
    alt: "Super Efficiency"
    title: "Super Efficiency"
    excerpt: "Built on HTML5 + CSS3. All layouts are fully responsive with helpers to augment your content."
    url: "/"
    btn_label: "Learn More"
  - image_path: https://ooo.0o0.ooo/2016/07/25/5795e2baba6b6.jpg
    alt: "User Friendly"
    title: "User Friendly"
    excerpt: "Free to use however you want under the MIT License. Clone it, fork it, customize it, whatever!"
    url: "/"
    btn_label: "Learn More"
intro:
    - excerpt: 'To get supports, join our team or build partnerships. &nbsp; [<i class="fa fa-twitter"></i> Contact us](/contact-us/){: .btn .btn--info}'
---

{% include base_path %}

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html type="grid" %}
{% endfor %}

{% include paginator.html type="center" %}
