---
layout: splash
author_profile: true
read_time: true
comments: true
share: true
related: true
excerpt: "This post should display a **header with an overlay image**, if the theme supports it."
header:
    image: https://ooo.0o0.ooo/2016/07/22/5791e30a421a5.jpg
    overlay_image: https://ooo.0o0.ooo/2016/07/22/5791e30a421a5.jpg
    overlay_filter: rgba(0, 0, 0, 0.1)
    caption: "Photo credit: [**Van**](https://reformation.tech)"
    cta_label: "More Info"
    cta_url: "https://unsplash.com"
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html type="grid" %}
{% endfor %}

{% include paginator.html %}
